<mat-card>
    <form (submit) = "onAddPost(postForm)" #postForm="ngForm">
        <mat-form-field>
            <input 
            matInput rows="6"
            name = "name"
            ngModel
            required
            minlength="3"
            #name="ngModel"
            placeholder="Name">
            <mat-error *ngIf="name.invalid">Please enter a name</mat-error>
        </mat-form-field>
        <mat-form-field>
            <textarea 
            matInput rows="6"   
            name = "bio"
            placeholder="Biography"
            ngModel
            required
            #bio="ngModel"></textarea>
            <mat-error *ngIf="bio.invalid">Please enter a bio</mat-error>
        </mat-form-field>
    
        <button 
        mat-raised-button 
        color="primary"
        type="submit">Save Post</button>
    </form>
   

</mat-card>





